body {
  background-color: skyblue;
}

header {
    height: 18vh;
    font-size: larger;
    display: flex;
    justify-content: center;
}

#artist-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: auto;
  height: auto;
  gap: 2em;
}
