body {
  background-color: skyblue;
}

header {
    height: 18vh;
    font-size: larger;
    display: flex;
    justify-content: center;
}

#artist-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: auto;
  height: auto;
  gap: 2em;
  padding: 5%; 
}

/* images in full list of artists */
#artist-list, img {
  height: 25vh;
  width: 20vw;
}

.artist-container-in-create {
outline: solid 0.1em black;
border: 0.1em solid whitesmoke; 
}

#form-create-new-artist {
  display: grid;
  grid-template-columns: auto auto;
}

.hidden {
  display: none;
}